:root {
    --text: #3d3c3f;
    --text-heading: #08060d;
    --bg: #FFF0DB;
    --border: #e5e4e7;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}

.dark {
    --text: #9ca3af;
    --text-heading: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
}

