.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 100%;
    min-height: calc(100vh - 70px - 100px); 
}

.centeredPage {
    margin: auto !important;
}
